[Desktop Entry]
Comment[en_GB]=Get UK National Rail train times quickly.\s
Comment=Get UK National Rail train times quickly.\s
Exec=/usr/local/bin/quicktraintimes
GenericName[en_GB]=
GenericName=
Icon=qtt_icon.png
MimeType=
Name[en_GB]=Quick Train Times
Name=Quick Train Times
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
